
.slider .MuiDrawer-paper {
    width: 250px; /* Set your desired width */
    margin-top: 71px;
    box-shadow: none; 
  }
  .MuiBackdrop-root{
    background-color:rgba(0, 0, 0, 0) !important;
    }
  
  .slideimg{
    width:35px;
    margin-left:10px ;
    margin-right: 30px;
    
  }
  .slidename {
    display: flex;
    align-items: center;
    border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
    padding: 10px;
  }
  
  .slidename:hover {
  
    background-color: rgba(254, 161, 30, 0.7); 
  }