slider .MuiDrawer-paper {
  width: 250px; /* Set your desired width */
  margin-top: 71px;
  box-shadow: none; 
}

.slideimg{
  width:35px;
  margin-left:10px ;
  margin-right: 30px;
  
}
.slidename {
  display: flex;
  align-items: center;
  /* background-color: rgb(232, 208, 109); Default background color */
  padding: 10px;
}

