body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgb(83, 81, 81);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#head-text {
    color: orange;
    font-size: 2rem;
    text-align: center;
}

.name-container,
.password-container {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.password-container {
    margin-top: 15px;
}

.firstLine,
.secondLine {
    font-size: 18px;
    text-align: center;
}

.line1 {
    margin-top: 1%;
    font-size: 12px;
    color: #007BFF;
    margin-right: 58%;
}

.signin-register {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 60px;
    width: 100%;
}

.line3 {
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    color: #007BFF;
    width: 50%;
    margin-left: 12px;
}

.submit-btn {
    width: 100%;
    margin-top: 10px;
    background-color: orange;
    color: white;
    padding: 10px;
    
    border-radius: 5px;
}

.emailErr,
.passwordErr {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
    width: 100%;
    margin-left: 90px;
}

.buttoncnt {
    display: flex;
    width: 20%;
    margin-right: 70px;
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
    .signin-register {
        flex-direction: column;
    }
}
